#surBing {
    color: #354649;
    font-size: 35px;
}

#signupSeg {
    border-width: 2px;
    border-color: #e0e7e9;
}

#signupButton {
    background-color: #a3c6c4;
}

#firstRow {
    background-color: #e0e7e9;
}

#signupForm {
    margin-top: -130px;
}

#thirdrow {
    margin-top: -140px;
}

#SignupConfirm {
    font-family: sans-serif;
    font-size: 18px;
    width: 300px;
}

#SignupConfirm .actions .button{
    background-color: #a3c6c4;
}