
.title
{
    background-color: #BBDEFB;
    text-align: center;
}

.genderCheck {
    margin-top: 8px;
}

.ageCheck {
    margin-top: 8px;
}

.makingPage {
    margin-left: 10px;
}

.titleBar {
    background-color: #E0E7E9;
    border-bottom: 0px;
    box-shadow: 0px; 
}

.Item {
    background-color: #A3C6C4;
    border-color: white; 
}

.SurveyContent {
    border-color: #E0E7E9;
    width: 800px;
    height: 100px;
    border-radius: 5px;
    min-height: 100px,
}