#logo {
    color: #354649;
}

#cartPop {
    font-family: sans-serif;
    background: #a3c6c4;
}

#parPop {
    font-family: sans-serif;
    background: #a3c6c4;
}

#parPop::before {
    background: #a3c6c4;
}

#cartPop::before {
    background: #a3c6c4;
}