.ParticipateButton {
    background-color: #6c7a89;
    color: #ffffff;
    font-size: 1.28571429rem;
    margin: 0 .27em 0 0;
    padding: .88571429em 1.5em .88571429em;
    font-weight: normal;
    text-align: center;
    border-radius: .28571429rem;
    min-width: 230px;
    cursor: pointer;
}

.AddSurveyButton {
    background-color: #ffffff;
    border-color: #6c7a89;
    color: #6c7a89;
    vertical-align: center;
    border-width: 2px;
    font-size: 1.28571429rem;
    margin: 0 .27em 0 0;
    padding: .78571429em 1.5em .78571429em;
    font-weight: 700;
    text-align: center;
    border-radius: .28571429rem;
    min-width: 239px;
    cursor: pointer;
}

#searchbar {
    margin-bottom: 0px;
}

#firstRow {
    background-color: #e0e7e9;
    min-height: 175px;
}

#secondRow {
    margin-top: -31px;
}

#thirdRow {
    background-color: #a3c6c4;
    min-height: 190px;
    margin-top: -1px;
    color: #354649;
    text-align: center;
    padding: 0px;
}

#aboutus {
    font-size: 16px;
    margin-top: 65px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
}

#dev {
    width: 100%;
    margin-bottom: -10px;
    font-size: 11px;
}

#team11 {
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    vertical-align: center;
}

#surBing {
    color: #354649;
}
