#surBing {
    color: #354649;
}

#loginbutton {
    background: #a3c6c4;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    padding: 12px;
    font-family: sans-serif;
    vertical-align: center;
}

#loginStack {
    border-width: 2px;
    border-color: #e0e7e9;
}

#firstrow {
    background-color: #e0e7e9;
}

#rowColumn {
<<<<<<< HEAD
    margin-top: -110px;
=======
    margin-top: -200px;
>>>>>>> e9cf19b689d96858a3e873b7b9e62337c63a3cb8
}


#thirdrow {
    background-color: #a3c6c4;
<<<<<<< HEAD
    margin-top: -200px;
    margin-bottom: 0px;
=======
>>>>>>> e9cf19b689d96858a3e873b7b9e62337c63a3cb8
}

.login {
    padding-bottom: 0px;
}